/* Estrutura */
* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 150px;
    padding: 20px;
    background: url(images/logo.png) no-repeat;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: right;
}

main {
    background-color: black;
    color: white;
    width: 70%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

aside {
    background-color: black;
    color: white;
    width: 30%;
    float: left;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    clear: both;
    text-align: center;
}

/* Componentes Menu Principal */
.caixa-menuprincipal {
    float: right;
}

.caixa-menuprincipal ul {
    list-style-type: none;
}

.caixa-menuprincipal ul li {
    display: inline-block;
}

.caixa-menuprincipal ul li a {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: white;
    font-weight: bold;
}

.caixa-menuprincipal ul li a:hover {
    background-color: gray;
}

/* Componentes Postagem */
.caixa-post {
    margin-bottom: 30px;
    clear: both;
}

.caixa-post img {
    display: block;
    float: left;
    margin: 10px;
    width: 150px;
}

.caixa-post p {
    padding: 10px;
}

/* Componentes Pesquisa */
.caixa-pesquisa {
    
}

.caixa-pesquisa button {
    background-color: white;
    color: black;
    width: 40px;
    height: 30px;
    font-weight: bold;
}

/* Componentes Categoria */
.caixa-categorias {
    padding: 40px;
}

.caixa-categorias ul li {
    list-style-type: none;
}


.caixa-categorias ul li a {
    color: white;
}

.caixa-categorias ul li a:visited {
    color: white;
}